[submodule "secret"]
	path = secret
	url = https://github.com/osukurikku/secret.git
[submodule "pp/oppai-ng"]
	path = pp/oppai-ng
	url = https://github.com/osukurikku/oppai-ng.git
[submodule "pp/catch_the_pp"]
	path = pp/catch_the_pp
	url = https://github.com/osuripple/catch-the-pp.git
[submodule "pp/maniapp-osu-tools"]
	path = pp/maniapp-osu-tools
	url = git@zxq.co:ripple/maniapp-osu-tools.git
	branch = calc-no-replay
[submodule "oppai-ng"]
	url = https://github.com/Francesco149/oppai-ng.git
[submodule "common"]
	path = common
	url = https://github.com/osukurikku/python-common
[submodule "pp/omppc"]
	path = pp/omppc
	url = https://github.com/osukurikku/omppc.git
