[submodule "secret"]
	path = secret
	url = https://github.com/osukurikku/secret.git
[submodule "common"]
	path = common
	url = https://github.com/osukurikku/python-common
[submodule "pp/osu-tools"]
	path = pp/osu-tools
	url = https://github.com/osukurikku/osu-tools.git
[submodule "very_secret"]
	path = very_secret
	url = https://git.kotworks.cyou/osukurikku/lets_very_secret.git
